<!DOCTYPE html>
<html lang=”en”>

<head>
    <%- include("./partials/head") %>
</head>


<body class="body">

    <header>
        <div class="header-div">
            <p class="back-arrow"><a class="arrow" href="/"><i class="fas fa-arrow-alt-circle-left"></i> </a></p>

        </div>

        <h1>
            NutriFarco<img class="img" src="./img/baking-1293986_1920.png" class="logo" />
        </h1>

    </header>


    <main>

        <div>
            

            <div>
                <div class="div-input">
                    <h3>Ingresa tu nombre y apellido</h3>
                    <label class="hidden " for="nickname"><br></label>
                    <input class="input-log" type="text" name="nombre" id="nickname" placeholder="Nombre y Apellido" />
                    <% if (locals.errors && errors.nombre) { %>
                        <div class="text-danger">
                            <%= errors.fullName.msg %> 
                        </div>
                    <% } %>
                </div>

                <div class="div-input">
                    <h3>Ingresa tu correo electronico</h3>
                    <label class="hidden " for="nickname"><br></label>
                    <input class="input-log" type="text" name="email" id="nickname" placeholder="e-mail" />
                    <% if (locals.errors && errors.email) { %>
                        <div class="text-danger">
                            <%= errors.email.msg %>
                        </div>
                    <% } %>
                </div>

                <div class="div-input">
                    <h3>Ingresa tu numero de telefono</h3>
                    <label class="hidden " for="nickname"> <br></label>
                    <input class="input-log" type="text" name="telefono" id="nickname" placeholder="Numero de telefono" />
                    <% if (locals.errors && errors.telefono) { %>
                        <div class="text-danger">
                            <%= errors.email.msg %>
                        </div>
                    <% } %>
                </div>

                <div class="div-input">
                    <h3>Ingresa tu contraseña</h3>
                    <label class="hidden" for="password"><br></label>
                    <input class="input-log" type="password" name="password" id="password" placeholder="Contraseña" />
                    <% if (locals.errors && errors.password) { %>
                        <div class="text-danger">
                            <%= errors.password.msg %>
                        </div>
                    <% } %>
                </div>

                <div class="div-input">
                    <h3>Confirma tu contraseña</h3>
                    <label class="hidden" for="password"><br></label>
                    <input class="input-log" type="password" name="password1" id="password" placeholder="Confirmar contraseña" />
                    <% if (locals.errors && errors.password1) { %>
                        <div class="text-danger">
                            <%= errors.password.msg %>
                        </div>
                    <% } %>
                </div>

                <div class="div-bottom">
                    <a href="/"><button class="bottom-log-continuar" type="submit">Continuar <br></button></a>

                    

                    <p class="need-container"><a class="need" href="/help">
                                Necesito ayuda para ingresar </a>
                    </p>


                </div>
            </div>
        </div>
    </main>

    <footer>
        <%- include("./partials/footer-log-reg") %>
    </footer>
</body>

</html>