<!DOCTYPE html>
<html lang=”en”>

<head>
    <%- include("./partials/head") %>
    
</head>


<body class="body">

    <header>
        <div class="header-div">
            <p class="back-arrow"><a class="arrow" href="/"><i class="fa-solid fa-arrow-left-long"></i> </a></p>

        </div>

        <div class="titulo-login">
            <h1 class="nutrifarco">Crear Cuenta      <img class="img-logo" src="/img/nutri-logo.png"/></h1>  
        </div>

    </header>


    <main>

        <div>
            

            <form action="/user/processRegister" id="register" method="POST" enctype="multipart/form-data" >
                <div class="div-input">
                    <h3>Nombre y apellido</h3>
                    <label class="hidden " for="nickname"><br></label>
                    <input class="input-log" type="text" name="nombre" id="nickname" placeholder="Nombre y Apellido" />
                    <% if (locals.errors && errors.nombre) { %>
                        <div class="errors">
                            <%= errors.nombre.msg %> 
                        </div>
                    <% } %>
                </div>

                <div class="div-input">
                    <h3>Correo eléctronico</h3>
                    <label class="hidden" for="nickname"><br></label>
                    <input class="input-log" type="text" name="email" id="nickname" placeholder="e-mail" />
                    <% if (locals.errors && errors.email) { %>
                        <div class="errors">
                            <%= errors.email.msg %>
                        </div>
                    <% } %>
                </div>

                <div class="div-input">
                    <h3>Número de telefono</h3>
                    <label class="hidden" for="nickname"> <br></label>
                    <input class="input-log" type="text" name="telefono" id="nickname" placeholder="Numero de telefono" />
                    <% if (locals.errors && errors.telefono) { %>
                        <div class="errors">
                            <%= errors.email.msg %>
                        </div>
                    <% } %>
                </div>

                <div class="div-input">
                    <h3>Foto de perfil</h3>
                    <label class="hidden " for="nickname"> <br></label>
                    <input 
                        type="file" 
                        id="imagen" 
                        name="imgUsers" 
                        class="input-log" <%= locals.errors && errors.imgUsers ? 'is-invalid' : null %>
                    >
                    <% if (locals.errors && errors.imgUsers) { %>
                        <div class="errors">
                            <%= errors.imgUsers.msg %>
                        </div>
                    <% } %>
                </div>

                <div class="div-input">
                    <h3>Contraseña</h3>
                    <label class="hidden" for="password"><br></label>
                    <input class="input-log" type="password" name="password" id="password" placeholder="Contraseña" />
                    <% if (locals.errors && errors.password) { %>
                        <div class="errors">
                            <%= errors.password.msg %>
                        </div>
                    <% } %>
                </div>

                <div class="div-input">
                    <h3>Confirmar contraseña</h3>
                    <label class="hidden" for="passwordConf"><br></label>
                    <input class="input-log" type="password" name="passwordConf" id="passwordConf" placeholder="Confirmar contraseña" />
                    <% if (locals.errors && errors.password1) { %>
                        <div class="errors">
                            <%= errors.password.msg %>
                        </div>
                    <% } %>
                </div>
            </form>

                <div class="div-bottom">
                    <button class="bottom-log-continuar" onclick="comprobar()">Continuar <br></button>
                    <a href="/user/login"></a>
                </div>

                    <p class="need-container"><a class="need" href="/help">
                                Necesito ayuda para ingresar </a>
                    </p>
                </div>
            
        </div>
    </main>

    <footer>
        <%- include("./partials/footer-log-reg") %>
    </footer>
</body>

<script type="text/javascript">	
	function comprobar()
	{
		let contraseña = document.getElementById("password").value;
		let contraseña2 = document.getElementById("passwordConf").value;           
        let register = document.getElementById("register");

		if (contraseña===contraseña2) 
		{
			register.submit();
		}
		else
		{
			alert("Las contraseñas no coinciden");
		}
	}
</script>

</html>